# OpenCV - usando apenas headless para evitar dependências GUI
opencv-python-headless~=4.11.0.86
ultralytics~=8.3.117

# Additional dependencies
fastapi
uvicorn[standard]
gunicorn
python-dotenv
pydantic
python-jose
pyjwt
python-multipart